<h1>Ratings</h1>

<div class="center-display">
<div class="items-grid">
<% @ratings.each do |rating| %>
    <div class="item-card">
    <h2>Item <%= rating.item.name %> by User <%= rating.item.user.name %> </h2>
    <p><strong>Rating:</strong> <%= rating.rating %></p>
    <p><strong>Review:</strong> <%= rating.review %></p>
    </div>
<% end %>
</div>
</div>
